<!DOCTYPE html>
<html>
<head>
    <title>Signup - MnemoSphere</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="auth-clean-page">

<div class="auth-clean-card">

    <h1>Create Account</h1>

    <p class="auth-switch">
        Already have an account?
        <a href="/login">Log in</a>
    </p>

    {% if error %}
        <div class="auth-error">{{ error }}</div>
    {% endif %}

    <form method="POST" class="auth-form">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Password</label>
        <div class="auth-password-wrap">
    <input
        type="password"
        id="loginPassword"
        name="password"
        placeholder="Enter password"
        required>

    <span
        class="password-eye"
        onclick="togglePassword('loginPassword', this)">
        👁️
    </span>
</div>
        <label>Confirm Password</label>
        <div class="auth-password-wrap">
    <input
        type="password"
        id="loginPassword"
        name="password"
        placeholder="Enter password"
        required>

    <span
        class="password-eye"
        onclick="togglePassword('loginPassword', this)">
        👁️
    </span>
</div>

        <button type="submit" class="auth-primary-btn">Sign Up</button>
    </form>

    <div class="auth-divider">
        <span></span>
        <p>or</p>
        <span></span>
    </div>

    <a href="/google-login" class="auth-google-btn">
        <img
    src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
    class="google-logo"
    alt="Google">
        Continue with Google
    </a>

</div>

<script>
function togglePassword(id) {
    const input = document.getElementById(id);

    if (input.type === "password") {
        input.type = "text";
    } else {
        input.type = "password";
    }
}
</script>

</body>
</html>