<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP - MnemoSphere</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="auth-wrapper">

    <div class="auth-card">

       

                </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <div class="otp-actions">

                     <a href="/login" class="auth-link">
                Back to Login
            </a>

        </div>

    </div>

</div>

</body>
</html>